.my-toast {
    width: auto !important;
    min-width: 90px !important;
    transform: translate3d(0, 0, 0) !important;
    /*transform: none !important;;*/
    left: 0 !important;
    right: 0 !important;
    margin: auto;
}